USE [SSATools]
GO
/****** Object:  StoredProcedure [dbo].[CALLIDUS_SetVA]    Script Date: 04/30/2015 14:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[CALLIDUS_SetVA]
@QuarterBegin DateTime
AS

/*
dbo.CALLIDUS_SetVA '10/1/2014'

select * from dbo.CALLIDUS_VA

*/

TRUNCATE TABLE dbo.CALLIDUS_VA
INSERT INTO dbo.CALLIDUS_VA
(
SuperRegionID,
TerritoryLevelID,
TerritoryID,
ASSIGNEENAME,
ASSIGNEETYPE,
ASSIGNEEDATE,
VARIABLENAME,
RULEELEMENTNAME,
RULEELEMENTTYPE
)

SELECT
DISTINCT 
SuperRegionID,
TerritoryLevelID,
TerritoryID,
 POSITIONNAME ASSIGNEENAME,
'Position' ASSIGNEETYPE,
CONVERT(VARCHAR(10),@QuarterBegin,101) ASSIGNEEDATE,
'FVV_'+M.METRICS+'_'+METRICSTYPE VARIABLENAME,
'FV_'+POSITIONNAME+'_'+M.METRICS+'_'+METRICSTYPE RULEELEMENTNAME,
'FixedValue' RULEELEMENTTYPE

FROM dbo.CALLIDUS_POSITION P
CROSS JOIN dbo.CALLIDUS_METRICS M
WHERE p.TerritoryLevelID IN (40,50,60)


