USE [SSATools]
GO
/****** Object:  StoredProcedure [dbo].[CALLIDUS_SetTX]    Script Date: 04/30/2015 14:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[CALLIDUS_SetTX]

AS

/*
dbo.CALLIDUS_SetTX 

select * from dbo.CALLIDUS_TX

*/

   
--Rank Individual BML metrics       
SELECT q.*,	
	 CASE WHEN aAvailD = 0 THEN 0 ELSE RANK() OVER(PARTITION BY q.SuperRegionID,TerritoryLevelID ORDER BY (CONVERT(FLOAT,AvailDeltarnk) + CONVERT(FLOAT,AvailActualrnk)) ASC) END AS Availrnk,
     CASE WHEN aAvailN = 0 THEN 0 ELSE RANK() OVER(PARTITION BY q.SuperRegionID,TerritoryLevelID ORDER BY (CONVERT(FLOAT,RateDeltarnk) + CONVERT(FLOAT,RateActualrnk)) ASC) END AS Raternk
INTO #BMLRank      
FROM  
    (
        SELECT *,
			COUNT(*) OVER(PARTITION BY SuperRegionID,TerritoryLevelID) AS cnt,
            --Avail/Inv
            RANK() OVER( PARTITION BY SuperRegionID,TerritoryLevelID ORDER BY AvailDelta ASC) AS AvailDeltarnk,
            RANK() OVER( PARTITION BY SuperRegionID,TerritoryLevelID ORDER BY aAvailScore ASC) AS AvailActualrnk,
            --Rate
            RANK() OVER( PARTITION BY SuperRegionID,TerritoryLevelID ORDER BY RateDelta ASC) AS RateDeltarnk,
            RANK() OVER( PARTITION BY SuperRegionID,TerritoryLevelID ORDER BY aRateScore ASC) AS RateActualrnk
            
            FROM dbo.CALLIDUS_AggregatedData
    ) q
    
--Combine BML ranks for bucket classifications
SELECT 
*,
(Availrnk+Raternk)/2 CombinedBMLRnk,
RANK() OVER( PARTITION BY SuperRegionID,TerritoryLevelID ORDER BY (Availrnk+Raternk)/2 ASC) BMLRnk,
RANK() OVER( PARTITION BY SuperRegionID,TerritoryLevelID ORDER BY (Availrnk+Raternk)/2 DESC) BMLRnkDesc
INTO #CombinedBMLRank -- Drop table #CombinedBMLRank
FROM #BMLRank

--Get Percentile
SELECT
r.TerritoryLevelID,r.TerritoryID,r.SuperRegionID,BMLRnk,CASE WHEN mr.Rowcnt = 1 OR MaxBMLRnkDesc = r.BMLRnkDesc  THEN 1 ELSE CONVERT(FLOAT,(r.BMLRnkDesc-1))/CONVERT(FLOAT,(mr.Rowcnt-r2.Rowcnt)) END BMLRnkPercnt
INTO #BMLRankPerct -- Drop table #BMLRankPerct
FROM #CombinedBMLRank r
JOIN
(
	SELECT TerritoryLevelID,SuperRegionID,COUNT(*) Rowcnt,MAX(BMLRnkDesc) MaxBMLRnkDesc
		FROM #CombinedBMLRank
		GROUP BY TerritoryLevelID,SuperRegionID
) mr
ON mr.TerritoryLevelID  = r.TerritoryLevelID AND mr.SuperRegionID = r.SuperRegionID
JOIN
(
	SELECT TerritoryLevelID,SuperRegionID,COUNT(*) Rowcnt,BMLRnkDesc
		FROM #CombinedBMLRank
		GROUP BY TerritoryLevelID,SuperRegionID,BMLRnkDesc
) r2
ON r2.TerritoryLevelID  = mr.TerritoryLevelID AND r2.SuperRegionID = mr.SuperRegionID AND r2.BMLRnkDesc = r.BMLRnkDesc

--Compute Perfs and Store for reporting
TRUNCATE TABLE dbo.CALLIDUS_TX
INSERT INTO dbo.CALLIDUS_TX
(
SuperRegionID,
TerritoryLevelID,
TerritoryID,
ORDERID,
LINENUMBER,
SUBLINENUMBER,
EVENTTYPEID,
VALUE,
UNITTYPEFORVALUE,
COMPENSATIONDATE,
GENERICATTRIBUTE1,
GENERICATTRIBUTE2,
GENERICATTRIBUTE3,
GENERICATTRIBUTE4,
GENERICATTRIBUTE5,
GENERICATTRIBUTE6,
GENERICATTRIBUTE7,
GENERICATTRIBUTE8,
GENERICATTRIBUTE9,
GENERICATTRIBUTE10,
GENERICATTRIBUTE11,
GENERICATTRIBUTE12,
GENERICATTRIBUTE13,
GENERICATTRIBUTE14,
GENERICATTRIBUTE15,
GENERICNUMBER1,
UNITTYPEFORGENERICNUMBER1,
GENERICNUMBER2,
UNITTYPEFORGENERICNUMBER2,
GENERICNUMBER3,
UNITTYPEFORGENERICNUMBER3,
GENERICNUMBER4,
UNITTYPEFORGENERICNUMBER4,
GENERICNUMBER5,
UNITTYPEFORGENERICNUMBER5,
GENERICNUMBER6,
UNITTYPEFORGENERICNUMBER6
)

SELECT
DISTINCT 
d.SuperRegionID,
d.TerritoryLevelID,
d.TerritoryID,
l.TerritoryLevelCode +'_'+  CONVERT(VARCHAR(20),d.TerritoryID) ORDERID,
CONVERT(VARCHAR(1),DATEPART(Q,AsofBookingDate)) LINENUMBER,
'1' SUBLINENUMBER,
'ACTUALS' EVENTTYPEID,
'1' VALUE,
'quantity' UNITTYPEFORVALUE,
CONVERT(VARCHAR(10),AsofBookingDate,101) COMPENSATIONDATE,
LTRIM(RTRIM(STR(ISNULL(d.QTDPlanRMD,0),25,5))) GENERICATTRIBUTE1,
LTRIM(RTRIM(STR(CASE WHEN d.FullQPlanRMD = 0 THEN 0 ELSE d.QTDcyActualRMD/d.FullQPlanRMD END,25,5))) GENERICATTRIBUTE2,
LTRIM(RTRIM(STR(CASE WHEN d.QTDPlanRMD = 0 THEN 0 ELSE d.QTDcyActualRMD/d.QTDPlanRMD END,25,5))) GENERICATTRIBUTE3,
LTRIM(RTRIM(STR(ISNULL(d.QTDPlanNRN,0),25,5))) GENERICATTRIBUTE4,
LTRIM(RTRIM(STR(CASE WHEN d.FullQPlanNRN = 0 THEN 0 ELSE d.QTDcyActualNRN/d.FullQPlanNRN END,25,5))) GENERICATTRIBUTE5,
LTRIM(RTRIM(STR(CASE WHEN d.QTDPlanNRN = 0 THEN 0 ELSE d.QTDcyActualNRN/d.QTDPlanNRN END,25,5))) GENERICATTRIBUTE6,
LTRIM(RTRIM(STR(ISNULL(d.pAcq,0),25,5))) GENERICATTRIBUTE7,
LTRIM(RTRIM(STR(CASE WHEN d.tAcq = 0 OR d.aAcq = 0 THEN 0 ELSE d.aAcq/d.tAcq END,25,5))) GENERICATTRIBUTE8,
LTRIM(RTRIM(STR(CASE WHEN d.pAcq = 0 OR d.aAcq = 0 THEN 0 ELSE d.aAcq/(d.pAcq) END,25,5))) GENERICATTRIBUTE9,
LTRIM(RTRIM(STR(CASE WHEN d.aDENOM_HFS = 0 OR d.tDENOM_HFS = 0 THEN 0 ELSE 
									CASE WHEN (d.tNUM_HFS/d.tDENOM_HFS) = 0 THEN 0 ELSE (d.aNUM_HFS/d.aDENOM_HFS) / (d.tNUM_HFS/d.tDENOM_HFS) END END,25,5)))  GENERICATTRIBUTE10,
LTRIM(RTRIM(STR(p.BMLRnk,25,0))) GENERICATTRIBUTE11,
LTRIM(RTRIM(STR(p.BMLRnkPercnt,25,5))) GENERICATTRIBUTE12,
CASE WHEN ISNULL(p.BMLRnkPercnt,0)>=.7 THEN 'HIGH' WHEN ISNULL(p.BMLRnkPercnt,0)<=.1 THEN 'LOW' ELSE 'MED' END GENERICATTRIBUTE13,
0 GENERICATTRIBUTE14,
0 GENERICATTRIBUTE15,
LTRIM(RTRIM(STR(ISNULL(d.QTDcyActualRMD,0),25,5))) GENERICNUMBER1,
'USD' UNITTYPEFORGENERICNUMBER1,
LTRIM(RTRIM(STR(ISNULL(d.QTDcyActualNRN,0),25,5))) GENERICNUMBER2,
'quantity' UNITTYPEFORGENERICNUMBER2,
LTRIM(RTRIM(STR(d.aAcq,25,5))) GENERICNUMBER3,
'USD' UNITTYPEFORGENERICNUMBER3,
LTRIM(RTRIM(STR(CASE WHEN d.aDENOM_HFS = 0 THEN 0 ELSE (d.aNUM_HFS/d.aDENOM_HFS) END,25,10))) GENERICNUMBER4,
'Percent' UNITTYPEFORGENERICNUMBER4,
LTRIM(RTRIM(STR(d.aRateScore,25,7))) GENERICNUMBER5,
'quantity' UNITTYPEFORGENERICNUMBER5,
LTRIM(RTRIM(STR(d.aAvailScore,25,7))) GENERICNUMBER6,
'quantity' UNITTYPEFORGENERICNUMBER6

FROM dbo.CALLIDUS_AggregatedData d
LEFT JOIN #BMLRankPerct p ON d.TerritoryLevelID = p.TerritoryLevelID AND d.TerritoryID = p.TerritoryID AND d.SuperRegionID = p.SuperRegionID
LEFT JOIN  SIP_TerritoryLevel l ON d.TerritoryLevelID = l.TerritoryLevelID


UPDATE tx
SET GENERICATTRIBUTE14 = CASE WHEN (w.RMD_WEIGHT+w.NRN_WEIGHT+w.ACQ_WEIGHT+w.HFS_WEIGHT)>0 THEN (GENERICATTRIBUTE2 * w.RMD_WEIGHT + GENERICATTRIBUTE5 * w.NRN_WEIGHT + GENERICATTRIBUTE8 * w.ACQ_WEIGHT + GENERICATTRIBUTE10 * w.HFS_WEIGHT)
						 /
						 (w.RMD_WEIGHT+w.NRN_WEIGHT+w.ACQ_WEIGHT+w.HFS_WEIGHT) ELSE 0 END,
	GENERICATTRIBUTE15 = CASE WHEN (w.RMD_WEIGHT+w.NRN_WEIGHT+w.ACQ_WEIGHT+w.HFS_WEIGHT)>0 THEN (GENERICATTRIBUTE3 * w.RMD_WEIGHT + GENERICATTRIBUTE6 * w.NRN_WEIGHT + GENERICATTRIBUTE9 * w.ACQ_WEIGHT + GENERICATTRIBUTE10 * w.HFS_WEIGHT)
						 /
						 (w.RMD_WEIGHT+w.NRN_WEIGHT+w.ACQ_WEIGHT+w.HFS_WEIGHT) ELSE 0 END
FROM dbo.CALLIDUS_TX tx
JOIN dbo.CALLIDUS_NormalizedWeights w	ON tx.TerritoryLevelID = w.TerritoryLevelID AND tx.TerritoryID = w.TerritoryID